<div class="form">
  <div style="text-align:center">
    <h1>
      Login
    </h1>
  </div>
  <dynamic-form [fields]="loginFormConfig" (submit)="loginSubmit($event)"></dynamic-form>
  <div class="margin-top">
    <!-- {{ form.value | json }} -->
  </div>
</div>
