<div class="form">
  <div style="text-align:center">
    <h1>
      Create Designation
    </h1>
  </div>
  <dynamic-form [fields]="regConfig" (submit)="submit($event)"></dynamic-form>
  <div class="margin-top">
    <!-- {{ form.value | json }} -->
  </div>
</div>
