<!-- Set custom value in input elements
  <textarea rows="10" [value]="'This is test content'"></textarea>
  <textarea rows="10" [value]="newPost"></textarea>
-->

<!-- Get user input  value -->
<!--
<textarea rows="10" #postInput></textarea>
<hr>
<button (click)="onAddPost(postInput)">Save Post</button>
<p>{{ newPost  }}</p>
-->
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <!-- <input matInput [(ngModel)]="enteredPostTitle" type="text" /> -->
      <input matInput type="text" name="title" ngModel required minlength="3" #title="ngModel" />
      <!-- <mat-error *ngIf="postForm.getControl('title').invalid">{{}}</mat-error> -->
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <!-- <textarea rows="10" matInput [(ngModel)]="enteredPostContent"></textarea> -->
      <textarea rows="4" matInput name="content" ngModel required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter post content.</mat-error>
    </mat-form-field>
    <!-- <button mat-raised-button color="primary" (click)="onAddPost()">Save Post</button> -->
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>
</mat-card>
